{:builds
 {:dev
  {:asset-path  "/js"
   :build-hooks [(helins.coload/hook {helins.fcss/coload {:src ["src/dev"]}})]
   :modules     {:main {:entries [helins.fcss.dev]}}
   :output-dir  "cljs/dev/js"
   :target      :browser}

  :release
  {:asset-path  "/js"
   :modules     {:main {:entries [helins.fcss.dev]
                        :init-fn helins.fcss.dev/main}}
   :output-dir  "cljs/release/js"
   :target      :browser}

 :test-node
 {:build-options    {:cache-level :jars}
  :compiler-options {:reader-features #{:node}}
  :ns-regexp        ".+"
  :output-to        "compiled/node/test.js"
  :target           :node-test}}

 :deps
 {:alias [:cljs]}
 
 :dev-http
 {8000 ["cljs/dev"
        "fcss/dev"]}
 
 :nrepl
 {:port 14563}}
