{:builds
 {:dev
  {:asset-path       "/js"
   :build-hooks      [(helins.coload/hook {helins.fcss/coload {:src ["src/dev"]}})]
   :compiler-options {:infer-externs :auto}
   :devtools         {:preloads [shadow.remote.runtime.cljs.browser]}
   :modules          {:main {:entries [helins.fcss.dev]}}
   :output-dir       "resources/public/js"
   :target           :browser}


  :test
  {:build-options {:cache-level :jars}
   :runner-ns     lambdaisland.chui.shadow.browser-runner
   :target        :browser-test
   :test-dir      "resources/chui"}}

 :deps
 {:alias [:cljs]}
 
 :dev-http
 {8000 ["fcss/dev"
        "resources/public"]}
 
 :nrepl
 {:port 4000}}
