{:hooks   {:analyze-call {helins.fcss/defanim  helins.fcss.clj-kondo/def*
                          helins.fcss/defany   helins.fcss.clj-kondo/def*
                          helins.fcss/defclass helins.fcss.clj-kondo/def*
                          helins.fcss/defdata  helins.fcss.clj-kondo/def*
                          helins.fcss/defid    helins.fcss.clj-kondo/def*
                          helins.fcss/defname  helins.fcss.clj-kondo/def*
                          helins.fcss/defvar   helins.fcss.clj-kondo/def*}}
 :linters {:unresolved-var {:exclude [;; Copied from https://github.com/noprompt/garden/blob/16a390186fea989e8049c00cd57f9bdd82a22fd3/src/garden/units.cljc#L291
                                      ;;
                                      garden.units/Hz
                                      garden.units/ch
                                      garden.units/cm
                                      garden.units/deg
                                      garden.units/dpcm
                                      garden.units/dpi
                                      garden.units/dppx
                                      garden.units/em
                                      garden.units/ex
                                      garden.units/grad
                                      garden.units/in
                                      garden.units/kHz
                                      garden.units/mm
                                      garden.units/ms
                                      garden.units/pc
                                      garden.units/percent
                                      garden.units/pt
                                      garden.units/px
                                      garden.units/rad
                                      garden.units/rem
                                      garden.units/s
                                      garden.units/turn
                                      garden.units/vh
                                      garden.units/vmax
                                      garden.units/vmin
                                      garden.units/vw]}}}
